.scrollbox {
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  height: calc(100vh - 5rem);
  margin-top: 5rem;
}

.scrollbox .snap {
  scroll-snap-align: start;
}

.header-nav::before {
  width: 20px;
  content: '█';
  opacity: 0.2;
  margin-right: 5px;
  transition: 250ms ease-in;
}

.header-nav:hover::before, .header-nav.active::before {
  opacity: 1;
}

.header-drawer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-bottom: none;
  width: auto;
  position: relative;
}

.font-console {
  font-family: 'Source Code Pro';
}

/* md */
@media (max-width: 768px) {
  .header-drawer {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom: 2px solid #333;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0 1rem 1rem 1rem;
  }
  .header-drawer.open {
    display: flex;
  }
}