@font-face {
  font-family: "Source Code Pro";
  src: url('../../public/fonts/SourceCodePro-Regular.ttf');
}

@font-face {
  font-family: "Source Code Pro Semi Bold";
  src: url('../../public/fonts/SourceCodePro-SemiBold.ttf');
}

@tailwind base;

/* Your own custom base styles */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Your own custom component styles */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
